<main>
  <div class="container">
    <nav class="flex-column a-i-center sidebar">
      <div class="flex a-i-center library">
        <span>Sua bibilioteca</span>
        <span class="button">+</span>
      </div>
      <div class="menu-body">
        <div class="playlist">
          <h5>Crie sua primeira playlist</h5>
          <p>É fácil, vamos te ajudar.</p>
          <button>Criar playlist</button>
        </div>
        <div class="podcast">
          <h5>Que tal seguir um podcast novo?</h5>
          <p>Avisaremos você sobre nossos episódios.</p>
          <button>Explore podcasts</button>
        </div>
      </div>
      <div class="menu-footer">
        <a href="">Legal</a>
        <a href="">Segurança e Centro de privacidade</a>
        <a href="">Política de privacidade</a>
        <a href="">Cookies</a>
        <a href="">Sobre anúncios</a>
        <a href="">Acessibilidade</a>
      </div>
      <button class="lang-button">
        <i class="fa-solid fa-earth-americas"></i> 
        Português do Brasil
      </button>
    </nav>
  </div>
</main>