<main>
  <app-menu-left></app-menu-left>
  <section class="content">
    <div>
      <div class="flex a-i-center space-between">
        <h2>Músicas em alta</h2>
        <span>Mostrar tudo</span>
      </div>
      <div class="albums-container">
        <div class="flex gap-20 albums-grid">
          <div *ngFor="let music of musics">
            <app-card-music [musicName]="music.name" [musicImg]="music.url" [musicArtist]="music.artist"></app-card-music>
          </div>
        </div>
        <i class="fa-solid fa-circle-chevron-right chevron-icon"></i>
      </div>
    </div>
    <div>
      <div class="flex a-i-center space-between">
        <h2>Artistas populares</h2>
        <span>Mostrar tudo</span>
      </div>
      <div class="artists-container">
        <div class="flex gap-20 artists-grid">
          <div *ngFor="let artist of artists">
            <app-card-artist [artistName]="artist.name" [artistImg]="artist.url"></app-card-artist>
          </div>
        </div>
        <i class="fa-solid fa-circle-chevron-right chevron-icon"></i>
      </div>
    </div>
    <div>
      <div class="flex a-i-center space-between">
        <h2>Álbuns populares</h2>
        <span>Mostrar tudo</span>
      </div>
      <div class="albums-container">
        <div class="flex gap-20 albums-grid">
          <div *ngFor="let album of albums">
            <app-card-album [albumName]="album.name" [albumImg]="album.url" [albumArtist]="album.artist"></app-card-album>
          </div>
        </div>
        <i class="fa-solid fa-circle-chevron-right chevron-icon"></i>
      </div>
    </div>
  </section>
</main>