main {
  display: flex;
  background-color: #000;
  padding: 10px;
}

span {
  color: #B3B3B3;
}

span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content {
  margin-left: 10px;
  background-color: #121212;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  gap: 20px;
}

.artists-grid,
.albums-grid {
  padding: 30px;
}

.artists-container,
.albums-container {
  position: relative;

  .chevron-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #B3B3B3;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  &:hover .chevron-icon {
    opacity: 1;
  }
}